doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/animate.css/animate.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    
    script(src='/jquery/dist/jquery.js')
    script(src='/javascripts/global.js')
  
